<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-book"></i> Crear Cruso</h1>
          <%- include('./partials/messages.ejs'); %>
        <form action="/dashboard/createCurso" method="POST">
          <div class="form-group">
            <label for="name">Nombre del curso</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Introduce el nombre del curso"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="description">Descripcion</label>
            <input
              type="text"
              id="description"
              name="description"
              class="form-control"
              placeholder="Introduce una Descripcion"
              value="<%= typeof email != 'undefined' ? description : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="level">Nivel</label>
              <select class="form-control" id="level" name="level">
                <option value="principiante">Principiante</option>
                <option value="intermedio">Intermedio</option>
                <option value="avanzado">Avanzado</option>
              </select>   
          </div>
          <button type="submit" class="btn btn-primary btn-block">Crear curso</button>
        </form>
      </div>
    </div>
  </div>