<%- include('./partials/navbar.ejs'); %>
<h1 class="mt-4">¿Está seguro que desea eliminar este usuario?</h1>
<div class="container">
    <a class="btn btn-primary btn-lg btn-block" href="/users/deleteTrue/" role="button">SI</a>
    <a class="btn btn-primary btn-lg btn-block" href="/options" role="button">NO</a>
  </div>