<div class="container">
    <h2>Inicia sesión desde la aplicación movil para poder acceder a los cursos</h2>
    <a class="btn btn-primary btn-lg btn-block" href="/users/logout" role="button">Cerrar sesión</a>
</div>
