<%- include('./partials/navbar.ejs'); %>
<h1 class="mt-4">OPCIONES</h1>


<div class="container">
    <a class="btn btn-primary btn-lg btn-block" href="/editUser" role="button">Editar usuario</a>
    <a class="btn btn-primary btn-lg btn-block" href="/deleteUser" role="button">Eliminar usuario</a>
</div>